.photo {
    width: 250px;
    height: auto;
}
@media (max-width: 600px) {
    .desktop-break {
        display: none;
    }
}
body {
    font-family: Arial, sans-serif;
    line-height: 1;
}

div {
    margin-bottom: 0.5em;
}